<div class="row">
  <div class="small-12 columns">
    <h1>Edit Settings</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-5 columns">
    <%= form_for(@setting, url: account_setting_path(@setting), html: { method: :put }) do |f| %>

    <div>
      <%= f.label :twilio_sid, 'Twilio SID' %>
      <%= f.text_field :twilio_sid %>
      <a href="#" data-reveal-id="twilio-account-modal">Help</a>
    </div>
    <br>
    <div>
      <%= f.label :time_zone %>
      <%= time_zone_select( "setting", "time_zone", ActiveSupport::TimeZone.us_zones, {model: ActiveSupport::TimeZone, include_blank: false, default: "Pacific Time (US & Canada)"}, class: 'select2') %>
    </div>
    <br>
    <div>
      <%= f.label :notification_email %>
      <%= f.text_field :notification_email %>
      <span class="helper">Where you will receive missed call and voicemail notifications.</span>
    </div>
    <br>
    <div>
      <%= f.label :blacklist_enabled %>
      <%= f.select(:blacklist_enabled, [['Disabled', 0], ['Enabled', 1]]) %>
      <span class="helper">Block telemarketers and known bad callers from a <a href="http://www.callcap.com/products/blacklist/">maintained list</a>.</span>
    </div>
    <br>
    <div>
        <%= f.label :ring_timeout %>
        <%= f.select(:ring_timeout, options_for_select(5..60, @setting.ring_timeout) ) %>
        <span class="helper">Seconds to ring.</span>
    </div>
    <br>
    <label>SMS forwarding
      <select name="sms_forwarding">
        <option value="1" <%#= sms_forwarding == '1' ? 'selected':nil %> >Enabled</option>
        <option value="0" <%#= sms_forwarding == '0' ? 'selected':nil %> >Disabled</option>
      </select>
    </label>
    <br>
    <input type="submit" value="Update" class="button">
    <% end %>
  </div>

  <div class="small-12 large-5 columns">
    <div class="row">
      <div class="small-8 columns">
        <h4>Forwarded Numbers</h4>
      </div>
      <div class="small-4 columns">
        <p><a href="#" class="new_phone_number_link button tiny">Add new</a></p>
      </div>
    </div>

    <% if @phone_numbers.length == 0 %>
      <div data-alert class="alert-box info">
        Add some phone numbers to forward your calls to!
      </div>
    <% end %>


    <div class="new_phone_number_form_container">
      <%= render partial: '/phone_numbers/form' %>
    </div>

    <ul class="unstyled phone_numbers_container">
      <% @phone_numbers.each do |phone_number| %>
        <li>
          <%= form_for phone_number, url: account_phone_number_path(phone_number), html: {class: 'edit_phone_number ' + phone_number.type} do |f| %>
            <%= f.label :type %>
            <%= f.select(:type, [['Landline', 'landline'], ['Mobile', 'mobile'], ['Twilio', 'twilio'], ['VoIP', 'voip'], ['SIP', 'sip']]) %>

            <div class="phone_number_container">
              <%#= select_tag('country_code', options_for_select(@country_codes), class: 'select2') %>
              <%= f.label :number %>
              <%= f.telephone_field :number %>
              <span class="helper">Only include numbers without spaces or characters.</span>
              <br><br>
            </div>

            <div class="sip-details" style="<%= phone_number.type == 'sip' ? 'display:block' : '' %>">
              <%= f.label :sip_username, 'SIP Username' %>
              <%= f.text_field :sip_username, placeholder: 'j_appleseed' %>

              <%= f.label :sip_password, 'SIP Password' %>
              <%= f.text_field :sip_password, placeholder: 'p@$$w0rd' %>

              <%= f.label :sip_host, 'SIP Host' %>
              <%= f.text_field :sip_host, placeholder: 'vonage.com' %>
            </div>

            <%= f.submit 'Update', class: 'button tiny' %>
            <%= link_to "Delete", account_phone_number_path(phone_number), :method => :delete, :confirm => "Are you sure?", class: "button alert tiny" %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="twilio-account-modal" class="reveal-modal" data-reveal>
  <h2>Twilio Credentials</h2>
  <p>
    Enter your Twilio AccountSID and AuthToken for your incoming Twilio phone number to be recognized.
    Without them you cannot receive any calls.
  </p>
  <p>
    Get these credentials from the Twilio <%= link_to 'Account Settings', 'https://www.twilio.com/user/account/settings', target: '_blank' %> page.
  </p>
  <%= image_tag 'twilio_account_screenshot.png' %>
  <a class="close-reveal-modal">&#215;</a>
</div>
