<div class="row">
  <div class="small-12 large-5 columns">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <p>
        <strong>A <%= link_to 'Twilio', 'http://www.twilio.com', target: '_blank' %> account is required with at least one phone number.</strong>
      </p>

      <div><%= f.submit "Sign up", class: 'button' %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
