<div class="row">

  <div class="small-12 large-4 columns">
    <h3>Recent calls</h3>
    <% if @calls.empty? %>
      <em>You have no calls yet.</em>
    <% else %>
      <table>
        <thead>
          <tr>
            <td>From</td>
            <td>To</td>
          </tr>
        </thead>
        <tbody>
          <% @calls.each do |call| %>
            <tr>
              <td><%= call.from_to_human %></td>
              <td><%= call.to_to_human %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="small-12 large-5 columns">
    <h3>New Voicemail</h3>
    <% if @unlistened_voicemail.empty? %>
      <em>No new voicemails.</em>
    <% else %>
      <table>
        <thead>
          <tr>
            <td>From</td>
            <td>Recording</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <% @unlistened_voicemail.each do |voicemail| %>
            <tr>
              <td><%= voicemail.call.from_to_human %></td>
              <td><%= link_to 'Play', voicemail.mp3_recording_url %></td>
              <td title="<%= voicemail.created_at.in_time_zone(current_user.setting.time_zone) %>"><%= time_ago_in_words(voicemail.created_at.in_time_zone(current_user.setting.time_zone)) %> ago</td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>

  <div class="small-12 large-3 columns">
    <h3>Phone Numbers</h3>
    <% unless @has_twilio_number %>
      <div data-alert class="alert-box info">
        Add your Twilio number in <%= link_to 'Settings', account_settings_path %> to start forwarding your calls.
      </div>
    <% end %>
    <% unless @has_forwarding_number %>
      <div data-alert class="alert-box info">
        Add a phone number to forward from Twilio in <%= link_to 'Settings', account_settings_path %>.
      </div>
    <% end %>
  </div>
</div>
