<div class="row">
  <div class="small-12 columns">
    <h1>Settings</h1>
  </div>
</div>


<div class="row">
  <div class="small-12 large-5 columns">
    <%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>

    <div>
      <%= f.label :email, 'Account email' %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :twilio_sid, 'Twilio SID' %>
      <%= f.text_field :twilio_sid %>
    </div>

    <div>
      <%= f.label :time_zone %>
      <%= time_zone_select( "user", "time_zone", ActiveSupport::TimeZone.us_zones, {model: ActiveSupport::TimeZone, include_blank: true, default: "Pacific Time (US & Canada)"}, class: 'select2') %>
    </div>

    <label>Notification email
      <%= f.text_field :notification_email %>
      <span class="helper">Where you will receive missed call and voicemail notifications.</span>
    </label>

    <label>Blacklist enabled
      <%= f.select(:blacklist_enabled, [['Disabled', 0], ['Enabled', 1]]) %>
      <span class="helper">Block telemarketers and known bad callers from a <a href="http://www.callcap.com/products/blacklist/">maintained list</a>.</span>
    </label>


    <label>SMS forwarding
      <select name="sms_forwarding">
        <option value="1" <%#= sms_forwarding == '1' ? 'selected':nil %> >Enabled</option>
        <option value="0" <%#= sms_forwarding == '0' ? 'selected':nil %> >Disabled</option>
      </select>
    </label>

    <input type="submit" value="Update" class="button">
    <% end %>
  </div>

  <div class="small-12 large-5 columns">
    <div class="row">
      <div class="small-8 columns">
        <h4>Forwarded Numbers</h4>
      </div>
      <div class="small-4 columns">
        <p><a href="#" class="new_phone_number_link button tiny">Add new</a></p>
      </div>
    </div>

    <% if @phone_numbers.length == 0 %>
      <div data-alert class="alert-box info">
        Add some phone numbers to forward your calls to!
      </div>
    <% end %>


    <div class="new_phone_number_form_container">
      <%= render partial: '/phone_numbers/form' %>
    </div>

    <ul class="unstyled phone_numbers_container">
      <% @phone_numbers.each do |phone_number| %>
        <li>
        <%= form_for phone_number do |f| %>
            <%= f.label :number %>
            <%= f.telephone_field :number %>
            <span class="helper">Only include numbers without spaces or characters.</span>
            <br><br>
            <%= f.select(:type, [['Landline', 'landline'], ['Mobile', 'mobile'], ['Twilio', 'twilio'], ['VoIP', 'voip']]) %>
            <%= f.submit 'Update', class: 'button tiny' %>
            <%= link_to "Delete", phone_number, :method => :delete, :confirm => "Are you sure?", class: "button alert tiny" %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
