.new_phone_number_link {
  margin-bottom: 15px;
}

.new_phone_number_form_container {
  background-color: #f2f2f2;
  display: none;
  padding: 8px;
  margin-bottom: 20px;

  input[type=submit] {
    margin-bottom: 0;
  }
}

.phone_numbers_container {
  margin-left: 0;

  li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 40px;
    &:last-child {
      border-bottom: none;
    }
  }
}

.edit_phone_number.sip {
  .phone_number_container {
    display: none;
  }
}

.sip-details {
  display: none;
}
