<section class="row">
  <div class="small-12 columns">
    <h1><strong>About</strong></h1>
  </div>
</section>

<section class="row">
  <article class="small-12 large-8 columns">
    <p>
      First beginning life as an open source personal application for my Twilio account to replace Google Voice eventually grew into
      a larger, multi-user web application for others to use.
    </p>
    <p>
      Fast forward a few weeks and it became a full fledged web application with service-oriented architecture
      and hosted on a cloud service provider for maximum uptime.
    </p>
    <p>
      Created by design studio <a href="http://www.teardrop.co/">Teardrop</a>, CopperNet is in active development and will continue to liberate communication.
    </p>
  </article>
  <aside class="small-12 large-4 columns">
    <p>
      <strong>CopperNet</strong> / <%= link_to 'Teardrop Inc.', 'http://www.teardrop.co/' %><br>
      119 N Fairfax Ave<br>
      Box #191<br>
      Los Angeles, CA 90036<br>
    </p>
    <p>
      <%= link_to '+1 310 400 0331', 'tel:+13104000331' %>
    </p>
    <p>
      <%= mail_to 'support@teardrop.co', 'support@teardrop.co' %>
    </p>
    <p>
      Press Logos
    </p>
  </aside>
</section>
