<div class="row">
  <div class="small-12 large-5 columns">
    <h1>Contact</h1>

    <p>
      For support or questions email <%= mail_to 'support@teardrop.co', 'support@teardrop.co' %>.
    </p>
  </div>
</div>
