<div class="row">
  <div class="small-12 large-8 columns">
    <h1>Google Voice for Twilio</h1>

    <p>
      CopperNet is an application for Twilio to replicate Google Voice functionality. With your own Twilio account you will be
      able to have functionality similar to Google Voice and at the same time own your phone number and data.
    </p>
    <p>
      For a complete list of features and pricing see <%= link_to 'Plans & Pricing', page_path('pricing') %>.
    </p>
  </div>
  <div class="small-12 large-4 columns">
    <%= render partial: '/mailchimp/form' %>
  </div>
</div>
