<section id="hero" class="row">
  <h1><b>Call forwarding and voicemail for Twilio</b></h1>
  <h3>One number, many phones</h3>
  <%= render partial: '/svg/illustration' %>
</section>
<section class="row" id="how-it-works">
  <div class="small-12 large-4 columns">
    <h3><strong>Create Twilio account</strong></h3>
    <p>
      If you don't have a phone number in your Twilio account you will need to purchase one or port one to Twilio.
    </p>
  </div>
  <div class="small-12 large-4 columns">
    <h3><strong>Link CopperNet to Twilio</strong></h3>
    <p>
      Enter your account secret and Twilio phone number into your CopperNet account.
    </p>
    <!--[red phone]-->
  </div>
  <div class="small-12 large-4 columns">
    <h3><strong>Start forwarding calls</strong></h3>
    <p>
      Enter as many forwarding numbers as you want to forward your calls to.
    </p>
    <!--[red phone] -> [black phone]-->
  </div>
</section>

<section id="hero-price" class="row">
  <div class="small-12 large-6 small-centered columns">
    <%= render partial: '/mailchimp/form' %>
  </div>
</section>

<div class="row">
  <div class="small-12 large-4 large-offset-1 columns">
    <h4>Why require Twilio?</h4>
    <p>CopperNet is for people wanting a personal phone forwarding application for their Twilio account because you own your own phone number(s).</p>

    <h4>Do I have to use Twilio?</h4>
    <p>Yes, currently CopperNet is a web application similar to Google Voice that runs on your Twilio account.</p>
  </div>

  <div class="small-12 large-4 large-offset-2 columns end">
      <h4>Are Twilio fees included?</h4>
      <p>
        No, the yearly cost is only for CopperNet and any fees charged by Twilio (phone numbers, minutes, messages) are still billed to your own Twilio
        account.
      </p>
      <h4>What features are included?</h4>
      <p>
        See the <%= link_to 'Features & Pricing', page_path('pricing') %> page.
      </p>
  </div>
</div>
