  <!--
  <div class="small-12 large-4 columns">
    <ul class="pricing-table">
      <li class="title">Basic</li>
      <li class="price">Coming soon</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><a class="button" href="#">Sign up</a></li>
    </ul>
  </div>
-->
<div class="row">
  <div class="small-12 large-6 large-centered columns">
    <%= render partial: '/mailchimp/form' %>
  </div>
</div>

<section class="row">
  <div class="small-12 large-8 columns">
    <h4>
      All accounts include
    </h4>
    <ul>
      <li>Forward calls to multiple phones</li>
      <li>SIP support</li>
      <li>Voicemail</li>
      <li>Receive SMS/MMS messages</li>
      <li>Email notifications</li>
      <li>Dial out</li>
      <li>Telemarketer blacklist</li>
      <li>Do-not-disturb</li>
      <li>Contacts</li>
    </ul>
  </div>
</section>
