<div class="row">
  <div class="small-12 large-5 columns">
    <h1>Privacy Policy</h1>

    <p>
      For support or questions email <%= mail_to 'support@teardrop.co', 'support@teardrop.co' %>.
    </p>

    <p>
      All associated data with your account such as emails, phone numbers, and other meta-data are not used for marketing purposes
      or sold to third-party marketers.
    </p>
  </div>
</div>
