<div class="row">
  <div class="small-12 large-5 columns">
    <h1>Terms of Use</h1>

    <p>
      For support or questions email <%= mail_to 'support@teardrop.co', 'support@teardrop.co' %>.
    </p>

    <p>
      All account holders are expected to use the CopperNet service in a lawful manner in accordance with their local laws. This may include but is not
      limited to harassment, fraud, et cetera.
    </p>
  </div>
</div>
