<%= form_for @phone_number, url: account_phone_numbers_path do |f| %>

  <%= f.label :type %>
  <%= select(:phone_number, :type, [['Landline', 'landline'], ['Mobile', 'mobile'], ['Twilio', 'twilio'], ['VoIP', 'voip'], ['SIP', 'sip']]) %>

  <div class="phone_number_container">
    <%= f.label :number %>
    <%= f.telephone_field :number, placeholder: '13104567890' %>
  </div>

  <div class="sip-details">
    <%= f.label :sip_username %>
    <%= f.text_field :sip_username, placeholder: 'j_appleseed' %>

    <%= f.label :sip_password %>
    <%= f.text_field :sip_password, placeholder: 'p@$$w0rd' %>

    <%= f.label :sip_host, 'URI' %>
    <%= f.text_field :sip_host, placeholder: 'vonage.com' %>
  </div>

  <%= f.submit 'Add', class: 'button small' %>
<% end %>
