<div class="row">
  <div class="small-12 columns">
    <% if @voicemail.mp3_recording_url != nil %>
      <h3>Voicemail from <%= @voicemail.call.from_to_human %></h3>
      <audio controls="controls">
        <source src="<%= @voicemail.mp3_recording_url %>" type="audio/mpeg">
      </audio>
      <p><small><%= link_to 'WAV', @voicemail.wav_recording_url %></small></p>
    <% else %>
      <h3>No voicemail recording found. :-(</h3>
    <% end %>
  </div>
</div>
