<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg style="margin-left: auto; margin-right: auto; display: block;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="792" height="354" viewBox="0, 0, 792, 354">
  <g id="Layer_1">
    <path d="M130,144 L92,144 C86.5,144 82,148.5 82,154 L82,232 C82,237.5 86.5,242 92,242 L130,242 C135.5,242 140,237.5 140,232 L140,154 C140,148.5 135.5,144 130,144 z M110.7,236.7 C108,236.7 105.7,234.5 105.7,231.7 C105.7,229 107.9,226.7 110.7,226.7 C113.5,226.7 115.7,228.9 115.7,231.7 C115.7,234.5 113.4,236.7 110.7,236.7 z M132,223 L90,223 L90,157 L132,157 L132,223 z" fill="#000000"/>
    <path d="M654.875,8.042 L616.875,8.042 C611.375,8.042 606.875,12.542 606.875,18.042 L606.875,96.042 C606.875,101.542 611.375,106.042 616.875,106.042 L654.875,106.042 C660.375,106.042 664.875,101.542 664.875,96.042 L664.875,18.042 C664.875,12.542 660.375,8.042 654.875,8.042 z M635.575,100.742 C632.875,100.742 630.575,98.542 630.575,95.742 C630.575,93.042 632.775,90.742 635.575,90.742 C638.375,90.742 640.575,92.942 640.575,95.742 C640.575,98.542 638.275,100.742 635.575,100.742 z M656.875,87.042 L614.875,87.042 L614.875,21.042 L656.875,21.042 L656.875,87.042 z" fill="#000000"/>
    <text transform="matrix(1, 0, 0, 1, 255, 255)">
      <tspan x="-22.149" y="4" font-family="HelveticaNeue" font-size="18" fill="#000000" fill-opacity="0.591">Twilio</tspan>
    </text>
    <text transform="matrix(1, 0, 0, 1, 459, 264)">
      <tspan x="-44.334" y="-5" font-family="HelveticaNeue" font-size="18" fill="#000000" fill-opacity="0.591">CopperNet</tspan>
    </text>
    <path d="M495.748,189.923 C495.864,189.343 495.864,188.762 495.864,188.182 C495.864,172.159 482.976,159.271 466.953,159.271 C455.459,159.271 445.59,166.005 440.945,175.758 C438.623,174.017 435.837,172.855 432.702,172.855 C425.387,172.855 419.35,178.893 419.35,186.208 C419.35,187.601 419.582,188.994 420.046,190.271 C414.241,193.639 410.409,199.908 410.409,206.991 C410.409,217.789 419.001,226.497 429.683,226.613 L429.915,226.613 C429.915,226.613 429.915,226.613 430.031,226.613 L487.388,226.613 C487.736,226.613 488.085,226.729 488.433,226.729 C498.999,226.729 507.591,218.137 507.591,207.571 C507.591,199.56 502.714,192.71 495.748,189.923 z" fill="#000000"/>
    <path d="M291.748,189.923 C291.864,189.343 291.864,188.762 291.864,188.182 C291.864,172.159 278.976,159.271 262.953,159.271 C251.459,159.271 241.59,166.005 236.945,175.758 C234.623,174.017 231.837,172.855 228.702,172.855 C221.387,172.855 215.35,178.893 215.35,186.208 C215.35,187.601 215.582,188.994 216.046,190.271 C210.241,193.639 206.409,199.908 206.409,206.991 C206.409,217.789 215.001,226.497 225.683,226.613 L225.915,226.613 C225.915,226.613 225.915,226.613 226.031,226.613 L283.388,226.613 C283.736,226.613 284.085,226.729 284.433,226.729 C294.999,226.729 303.591,218.137 303.591,207.571 C303.591,199.56 298.714,192.71 291.748,189.923 z" fill="#FF0000"/>
    <g>
      <path d="M654.34,204.912 L654.051,209.557 C654.03,215.904 649.932,216.438 645.735,216.438 C645.159,216.438 644.542,216.426 643.885,216.415 C643.162,216.406 642.391,216.393 641.571,216.393 L635.161,216.393 C634.34,216.393 633.567,216.406 632.849,216.415 C632.191,216.427 631.57,216.438 630.994,216.438 C626.798,216.438 622.703,215.904 622.682,209.557 L622.392,204.912 C616.002,207.811 611.855,218.018 611.855,223.188 C611.855,231.954 623.723,235.307 638.364,235.307 C653.008,235.307 664.875,231.953 664.875,223.188 C664.875,218.018 660.73,207.811 654.34,204.912 z" fill="#000000"/>
      <g>
        <path d="M649.869,154.818 L649.869,144.15 C649.869,143.344 649.166,142.693 648.3,142.693 C647.433,142.693 646.729,143.344 646.729,144.15 L646.729,153.685 C645.216,153.359 643.486,153.211 641.573,153.211 L635.094,153.211 C628.125,153.211 623.554,156.096 623.554,161.973 L623.554,173.924 L624.701,209.35 C624.701,215.225 628.125,214.357 635.094,214.357 L641.573,214.357 C648.544,214.357 651.968,215.225 651.968,209.35 L653.179,172.915 L653.179,160.958 C653.177,157.965 651.97,156.017 649.869,154.818 z M642.675,157.908 C642.909,157.908 643.099,158.096 643.099,158.329 C643.099,158.562 642.91,158.751 642.675,158.751 C642.445,158.751 642.253,158.562 642.253,158.329 C642.253,158.096 642.444,157.908 642.675,157.908 z M642.371,159.172 C642.371,159.405 642.181,159.594 641.947,159.594 C641.715,159.594 641.524,159.406 641.524,159.172 C641.524,158.938 641.714,158.751 641.947,158.751 C642.18,158.751 642.371,158.938 642.371,159.172 z M641.947,157.064 C642.18,157.064 642.371,157.253 642.371,157.486 C642.371,157.719 642.181,157.908 641.947,157.908 C641.715,157.908 641.524,157.719 641.524,157.486 C641.524,157.253 641.715,157.064 641.947,157.064 z M641.227,157.908 C641.461,157.908 641.65,158.096 641.65,158.329 C641.65,158.562 641.462,158.751 641.227,158.751 C640.996,158.751 640.805,158.562 640.805,158.329 C640.805,158.096 640.996,157.908 641.227,157.908 z M640.921,159.172 C640.921,159.405 640.733,159.594 640.499,159.594 C640.267,159.594 640.077,159.406 640.077,159.172 C640.077,158.938 640.266,158.751 640.499,158.751 C640.732,158.751 640.921,158.938 640.921,159.172 z M640.499,157.064 C640.732,157.064 640.921,157.253 640.921,157.486 C640.921,157.719 640.733,157.908 640.499,157.908 C640.267,157.908 640.077,157.719 640.077,157.486 C640.077,157.253 640.266,157.064 640.499,157.064 z M639.779,157.908 C640.013,157.908 640.202,158.096 640.202,158.329 C640.202,158.562 640.014,158.751 639.779,158.751 C639.546,158.751 639.358,158.562 639.358,158.329 C639.358,158.096 639.546,157.908 639.779,157.908 z M639.473,159.172 C639.473,159.405 639.284,159.594 639.051,159.594 C638.818,159.594 638.627,159.406 638.627,159.172 C638.627,158.938 638.818,158.751 639.051,158.751 C639.284,158.751 639.473,158.938 639.473,159.172 z M639.052,157.064 C639.284,157.064 639.474,157.253 639.474,157.486 C639.474,157.719 639.285,157.908 639.052,157.908 C638.819,157.908 638.628,157.719 638.628,157.486 C638.628,157.253 638.819,157.064 639.052,157.064 z M638.331,157.908 C638.566,157.908 638.755,158.096 638.755,158.329 C638.755,158.562 638.567,158.751 638.331,158.751 C638.099,158.751 637.91,158.562 637.91,158.329 C637.91,158.096 638.098,157.908 638.331,157.908 z M638.025,159.172 C638.025,159.405 637.837,159.594 637.604,159.594 C637.371,159.594 637.18,159.406 637.18,159.172 C637.18,158.938 637.37,158.751 637.604,158.751 C637.837,158.751 638.025,158.938 638.025,159.172 z M637.604,157.064 C637.836,157.064 638.025,157.253 638.025,157.486 C638.025,157.719 637.837,157.908 637.604,157.908 C637.371,157.908 637.18,157.719 637.18,157.486 C637.18,157.253 637.371,157.064 637.604,157.064 z M636.884,157.908 C637.119,157.908 637.307,158.096 637.307,158.329 C637.307,158.562 637.119,158.751 636.884,158.751 C636.652,158.751 636.462,158.562 636.462,158.329 C636.462,158.096 636.651,157.908 636.884,157.908 z M636.578,159.172 C636.578,159.405 636.389,159.594 636.154,159.594 C635.923,159.594 635.732,159.406 635.732,159.172 C635.732,158.938 635.922,158.751 636.154,158.751 C636.388,158.751 636.578,158.938 636.578,159.172 z M636.154,157.064 C636.388,157.064 636.578,157.253 636.578,157.486 C636.578,157.719 636.389,157.908 636.154,157.908 C635.923,157.908 635.732,157.719 635.732,157.486 C635.732,157.253 635.923,157.064 636.154,157.064 z M635.435,157.908 C635.67,157.908 635.857,158.096 635.857,158.329 C635.857,158.562 635.67,158.751 635.435,158.751 C635.203,158.751 635.013,158.562 635.013,158.329 C635.013,158.096 635.203,157.908 635.435,157.908 z M635.13,159.172 C635.13,159.405 634.941,159.594 634.706,159.594 C634.476,159.594 634.285,159.406 634.285,159.172 C634.285,158.938 634.475,158.751 634.706,158.751 C634.94,158.751 635.13,158.938 635.13,159.172 z M634.706,157.064 C634.94,157.064 635.13,157.253 635.13,157.486 C635.13,157.719 634.941,157.908 634.706,157.908 C634.476,157.908 634.285,157.719 634.285,157.486 C634.285,157.253 634.475,157.064 634.706,157.064 z M633.988,157.908 C634.222,157.908 634.409,158.096 634.409,158.329 C634.409,158.562 634.222,158.751 633.988,158.751 C633.755,158.751 633.566,158.562 633.566,158.329 C633.566,158.096 633.755,157.908 633.988,157.908 z M631.484,210.913 L630.232,210.913 C629.239,210.913 628.434,210.109 628.434,209.116 C628.434,208.12 629.239,207.314 630.232,207.314 L631.484,207.314 C632.477,207.314 633.282,208.12 633.282,209.116 C633.282,210.109 632.477,210.913 631.484,210.913 z M631.484,205.284 L630.232,205.284 C629.239,205.284 628.434,204.479 628.434,203.484 C628.434,202.491 629.239,201.686 630.232,201.686 L631.484,201.686 C632.477,201.686 633.282,202.491 633.282,203.484 C633.282,204.479 632.477,205.284 631.484,205.284 z M631.484,199.652 L630.232,199.652 C629.239,199.652 628.434,198.848 628.434,197.855 C628.434,196.861 629.239,196.057 630.232,196.057 L631.484,196.057 C632.477,196.057 633.282,196.861 633.282,197.855 C633.282,198.848 632.477,199.652 631.484,199.652 z M631.484,194.023 L630.232,194.023 C629.239,194.023 628.434,193.219 628.434,192.227 C628.434,191.23 629.239,190.426 630.232,190.426 L631.484,190.426 C632.477,190.426 633.282,191.23 633.282,192.227 C633.282,193.219 632.477,194.023 631.484,194.023 z M634.053,186.751 L630.563,186.751 C629.053,186.751 627.831,184.827 627.831,182.452 C627.831,180.079 629.054,178.155 630.563,178.155 L634.053,178.155 C634.106,178.155 634.157,178.174 634.212,178.18 C632.925,178.301 632.185,180.835 632.185,182.451 C632.185,183.982 632.921,186.598 634.205,186.726 C634.154,186.732 634.105,186.751 634.053,186.751 z M638.991,210.913 L637.74,210.913 C636.746,210.913 635.941,210.109 635.941,209.116 C635.941,208.12 636.746,207.314 637.74,207.314 L638.991,207.314 C639.985,207.314 640.789,208.12 640.789,209.116 C640.789,210.109 639.985,210.913 638.991,210.913 z M638.991,205.284 L637.74,205.284 C636.746,205.284 635.941,204.479 635.941,203.484 C635.941,202.491 636.746,201.686 637.74,201.686 L638.991,201.686 C639.985,201.686 640.789,202.491 640.789,203.484 C640.789,204.479 639.985,205.284 638.991,205.284 z M638.991,199.652 L637.74,199.652 C636.746,199.652 635.941,198.848 635.941,197.855 C635.941,196.861 636.746,196.057 637.74,196.057 L638.991,196.057 C639.985,196.057 640.789,196.861 640.789,197.855 C640.789,198.848 639.985,199.652 638.991,199.652 z M638.991,194.023 L637.74,194.023 C636.746,194.023 635.941,193.219 635.941,192.227 C635.941,191.23 636.746,190.426 637.74,190.426 L638.991,190.426 C639.985,190.426 640.789,191.23 640.789,192.227 C640.789,193.219 639.985,194.023 638.991,194.023 z M638.331,186.751 C635.958,186.751 634.034,184.826 634.034,182.452 C634.034,180.079 635.958,178.156 638.331,178.156 C640.707,178.156 642.631,180.079 642.631,182.452 C642.631,184.826 640.707,186.751 638.331,186.751 z M646.497,210.913 L645.246,210.913 C644.253,210.913 643.449,210.109 643.449,209.116 C643.449,208.12 644.253,207.314 645.246,207.314 L646.497,207.314 C647.491,207.314 648.296,208.12 648.296,209.116 C648.296,210.109 647.491,210.913 646.497,210.913 z M646.497,205.284 L645.246,205.284 C644.253,205.284 643.449,204.479 643.449,203.484 C643.449,202.491 644.253,201.686 645.246,201.686 L646.497,201.686 C647.491,201.686 648.296,202.491 648.296,203.484 C648.296,204.479 647.491,205.284 646.497,205.284 z M646.497,199.652 L645.246,199.652 C644.253,199.652 643.449,198.848 643.449,197.855 C643.449,196.861 644.253,196.057 645.246,196.057 L646.497,196.057 C647.491,196.057 648.296,196.861 648.296,197.855 C648.296,198.848 647.491,199.652 646.497,199.652 z M646.497,194.023 L645.246,194.023 C644.253,194.023 643.449,193.219 643.449,192.227 C643.449,191.23 644.253,190.426 645.246,190.426 L646.497,190.426 C647.491,190.426 648.296,191.23 648.296,192.227 C648.296,193.219 647.491,194.023 646.497,194.023 z M646.168,186.751 L642.679,186.751 C642.624,186.751 642.573,186.732 642.519,186.726 C643.806,186.605 644.544,184.072 644.544,182.454 C644.544,180.923 643.808,178.308 642.524,178.18 C642.576,178.176 642.624,178.157 642.678,178.157 L646.167,178.157 C647.677,178.157 648.897,180.081 648.897,182.456 C648.898,184.826 647.677,186.751 646.168,186.751 z M649.83,174.633 L626.901,174.633 L626.901,162.669 L649.83,162.669 L649.83,174.633 z" fill="#000000"/>
      </g>
    </g>
    <path d="M613.048,342.538 C613.048,345.143 610.94,347.25 608.336,347.25 L603.625,347.25 C601.02,347.25 598.913,345.143 598.913,342.538 L598.913,290.712 C598.913,288.107 601.02,286 603.625,286 L608.336,286 C610.94,286 613.048,288.107 613.048,290.712 L613.048,342.538 z M594.202,290.712 C591.597,290.712 589.49,292.819 589.49,295.423 L589.49,337.827 C589.49,340.431 591.597,342.538 594.202,342.538 L594.202,290.712 z M664.875,295.423 L664.875,337.827 C664.875,340.431 662.767,342.538 660.163,342.538 L617.759,342.538 L617.759,290.712 L660.163,290.712 C662.767,290.712 664.875,292.819 664.875,295.423 z M631.894,328.367 L622.471,328.367 L622.471,333.152 L631.894,333.152 L631.894,328.367 z M631.894,318.944 L622.471,318.944 L622.471,323.729 L631.894,323.729 L631.894,318.944 z M631.894,309.521 L622.471,309.521 L622.471,314.306 L631.894,314.306 L631.894,309.521 z M646.028,328.404 L636.605,328.404 L636.605,333.115 L646.028,333.115 L646.028,328.404 z M646.028,318.981 L636.605,318.981 L636.605,323.692 L646.028,323.692 L646.028,318.981 z M646.028,309.558 L636.605,309.558 L636.605,314.269 L646.028,314.269 L646.028,309.558 z M660.163,328.404 L650.74,328.404 L650.74,333.115 L660.163,333.115 L660.163,328.404 z M660.163,318.981 L650.74,318.981 L650.74,323.692 L660.163,323.692 L660.163,318.981 z M660.163,309.558 L650.74,309.558 L650.74,314.269 L660.163,314.269 L660.163,309.558 z M660.163,295.423 L622.618,295.423 L622.618,304.846 L660.163,304.846 L660.163,295.423 z" fill="#000000"/>
    <path d="M326.505,191.388 C321.882,191.388 318.166,195.104 318.166,199.637 C318.166,204.26 321.882,207.976 326.505,207.976 C331.037,207.976 334.754,204.26 334.754,199.637 C334.754,195.104 331.037,191.388 326.505,191.388 z M355.965,191.388 C351.432,191.388 347.716,195.104 347.716,199.637 C347.716,204.26 351.432,207.976 355.965,207.976 C360.588,207.976 364.304,204.26 364.304,199.637 C364.304,195.104 360.588,191.388 355.965,191.388 z M385.515,191.388 C380.983,191.388 377.176,195.104 377.176,199.637 C377.176,204.26 380.983,207.976 385.515,207.976 C390.138,207.976 393.854,204.26 393.854,199.637 C393.854,195.104 390.138,191.388 385.515,191.388 z" fill="#000000" fill-opacity="0.3"/>
    <path d="M506.66,159.771 L595.5,70.931" fill-opacity="0" stroke="#000000" stroke-width="6" stroke-opacity="0.304"/>
    <path d="M527.5,208.476 L589.99,208.476" fill-opacity="0" stroke="#000000" stroke-width="6" stroke-opacity="0.304"/>
    <path d="M516.5,242.5 L576.5,302.5" fill-opacity="0" stroke="#000000" stroke-width="6" stroke-opacity="0.304"/>
    <path d="M152.5,200.182 L196.5,200.5" fill-opacity="0" stroke="#000000" stroke-width="6" stroke-opacity="0.304"/>
  </g>
</svg>
