<div class="row">
  <div class="small-12 large-12 columns">

<table class="voicemail-log">
  <thead>
    <tr>
      <td>Date</td>
      <td>From</td>
      <td>To</td>
      <td>Status</td>
      <td>Duration</td>
      <td>Recording</td>
    </tr>
  </thead>
  <tbody>
    <% @voicemails.each do |voicemail| %>
    <tr class="<%= voicemail.listened == 1 ? 'listened' : 'unlistened' %>">
      <td><%= link_to time_ago_in_words(voicemail.created_at) + ' ago', account_voicemail_path(voicemail), title: voicemail.created_at %></td>
      <td><%= voicemail.call ? voicemail.call.from_to_human : nil %></td>
      <td><%= voicemail.call ? voicemail.call.to_to_human : nil %></td>
      <td><%= voicemail.call ? link_to(voicemail.call.status, account_voicemail_path(voicemail)) : nil %></td>
      <td><%= pluralize(voicemail.duration, 'sec') %></td>
      <td>
        <% if voicemail.wav_recording_url != nil %>
        <a href="<%= voicemail.mp3_recording_url %>" data-dropdown="recording_drop" class="button dropdown tiny">Play</a><br>
          <!--
          <ul id="recording_drop" data-dropdown-content class="f-dropdown">
            <li>
              <%= link_to "Delete",
                account_voicemail_path(voicemail),
                :method => :delete,
                'data-confirm' => "Are you sure?",
                :title => "Delete voicemail permanently" %>
            </li>
          </ul>
          -->
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
