<div class="row">
  <div class="small-12 columns">
    <h2><strong><%= @voicemail.call.from_to_human %></strong> &nbsp; <span class="secondary">to</span> &nbsp; <strong><%= @voicemail.call.to_to_human %></strong></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-8 columns">

    <% if @voicemail.mp3_recording_url != nil %>
      <h3>Voicemail</h3>
      <audio controls="controls">
        <source src="<%= @voicemail.mp3_recording_url %>" type="audio/mpeg">
      </audio>
      <small><a href="<%= @voicemail.mp3_recording_url %>">MP3</a></small>
    <% end %>
  </div>

  <div class="small-12 large-4 columns">
    <ul class="unstyled">
      <li><%= @voicemail.created_at_human %></li>
      <li>Call duration: <%= pluralize(@voicemail.call.duration, 'sec') %></li>
      <li>Voicemail duration: <%= pluralize(@voicemail.duration, 'sec') %></li>
      <li><%= link_to "I don't recognize this number", "https://duckduckgo.com/?q=#{@voicemail.call.from_to_human}", target: '_blank' %></li>
      <li>
        <%= form_for(@voicemail, :method => :delete, url: account_voicemail_path(@voicemail)) do |f| %>
          <button type="submit" class="button alert tiny" id="delete-voicemail" data-uri="<%= @voicemail.uri(current_user) %>">Delete voicemail</button>
        <% end %>
      </li>
    </ul>
  </div>
</div>
