/*
 *= require foundation_and_overrides
 *= require select2
 *= require_tree .
 *= require_self
 */

 body {
   margin-top: 30px;
 }

.top-bar-section ul {
  background: #fff;
}

.top-bar-section li a {
  font-family: 'Lato' !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  border: 2px solid transparent;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  border-radius: 5px;
  border: 2px solid #ccc;
  font-style: italic;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  border-radius: 5px;
  border: 2px solid #ccc;
}

.top-bar .toggle-topbar.menu-icon a {
  color: #666;
}

.top-bar .toggle-topbar.menu-icon a::after {
  //0 10px 0 1px $topbar-link-color, 0 16px 0 1px $topbar-link-color, 0 22px 0 1px $topbar-link-color;
}
