#hero {
  margin-bottom: 100px;
  h1, h3 {
    text-align: center;
  }
}

#how-it-works {
  background: #ccc;
  padding: 15px 0 10px 0;
  margin-bottom: 30px;
}

.inline-list {
  margin: auto;
  width: 40%;
}

#hero-price {
  margin-bottom: 100px;
  text-align: center;
  small {
    color: rgba(0,0,0,.3);
  }
}

#main-footer {
  margin-top: 100px;

  .copyright {
    text-align: center;
    margin-bottom: 30px;
    font-size: .8em;
    color: #888;
    a {
      color: #888;
    }
  }

  nav {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    li {
    }
  }
}
