<div class="row">
  <div class="small-12 large-12 columns">
    <table class="call-log">
      <thead>
        <tr>
          <td>Date</td>
          <td>From</td>
          <td>To</td>
          <td>Direction</td>
          <td>Status</td>
          <td>Duration</td>
        </tr>
      </thead>
      <tbody>
        <% @calls.each do |call| %>
          <tr class="<%= call.status %>">
            <td title="<%= call.created_at_long %>"><%= call.created_at != nil ? time_ago_in_words(call.created_at) : '' %> ago</td>
            <td><%= call.from_to_human %></td>
            <td><%= call.to_to_human %></td>
            <td><%= call.direction %></td>
            <td><%= link_to call.status, account_call_path(call) %></td>
            <td><%= pluralize(call.duration, 'sec') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
