<div class="row">
  <div class="small-12 columns">
    <h2><strong><%= @call.from_to_human %></strong> &nbsp; <span class="secondary">to</span> &nbsp; <strong><%= @call.to_to_human %></strong></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-8 columns">
    <p><%= link_to "I don't recognize this number", "https://duckduckgo.com/?q=#{@call.from_to_human}", target: '_blank' %>

    <% if @call.voicemail != nil %>
      <h3>Voicemail</h3>
      <audio controls="controls">
        <source src="<%= @call.voicemail.mp3_recording_url %>" type="audio/mpeg">
      </audio>
    <% end %>
  </div>
  <div class="small-12 large-4 columns">
    <ul class="unstyled">
      <li><%= @call.created_at_human %></li>
      <li><%= pluralize(@call.duration, 'sec') %></li>
    </ul>
  </div>
</div>
