<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CopperNet - Google Voice-like Application for Twilio" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="row">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/"><%= render partial: '/svg/logo_large' %></a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Features & Pricing', page_path('pricing') %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Return to account', account_dashboard_index_path %></li>
            <% else %>
              <!--<li><%#= link_to 'Sign up', new_user_registration_path %></li>-->
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left"></ul>
        </section>
      </nav>
    </header>

    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>

    <footer id="main-footer" class="row">
      <div class="small-12 columns">
        <nav>
          <ul class="inline-list centered-list">
            <li><%= link_to 'About', page_path('about') %></li>
            <li><%= link_to 'Contact', page_path('contact') %></li>
            <li><%= link_to 'Privacy Policy', page_path('privacy') %></li>
            <li><%= link_to 'Terms of Use', page_path('terms') %></li>
          </ul>
        </nav>
        <div class="copyright">
          &copy; CopperNet & <%= link_to 'Teardrop', 'http://www.teardrop.co/' %>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= render partial: '/google_analytics/public' %>
  </body>
</html>
